<div id="content">
	{% if user %}
		<div style="text-align: right">Logged in as <strong>{{user}}</strong></div>
	{% endif %}
	{% for quote in quotes %}
		<div class="header">
			<a href="/quote/{{ quote.key }}">#</a>
			<strong>{{ quote.author_original }}</strong> said at {{ quote.date_quote|date:"F Y, j" }}
				<blockquote>{{ quote.content }}</blockquote>
		</div>
		<div class="reported_by">
				reported by <span class="author">
				{% if not adminmode %}
					{{ quote.author_clean }}
				{% else %}
					{{ quote.author }} -- <a href="/admin/delete?id={{ quote.key }}">(del)</a>
				{% endif %}
				</span>
		</div>
	{% endfor %}
	
	{% if lonelymode %}
		And now, do you want to <a href="/">see more quotes</a> ?
	{% endif %}

</div>